<section class="miprograma" id="iraMIPROGRAMA">

            <div class="columnasmp">
                <a class="programacion" href="https://rbdradio.com.ar/timetable/event/ciudad-inquieta/" target="_blank">


                    <img src="images/fotoprom960.jpg" alt="fotoprograma"></a>

            </div>

            <div class="programas_anteriores">

                <div class="programa_5_7">
                    <h2>LES COMENTO LOS TEMAS INTERESANTES QUE HEMOS VISTO EN EL PROGRAMA DEL 05/07/23</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Id ab minus deleniti doloribus illum
                        omnis dolore quam maiores.
                    </p>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum quisquam obcaecati eum?
                        Recusandae a, autem in ipsam tempora soluta nisi.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem dolore nulla, et vero amet nisi
                        laboriosam adipisci perspiciatis beatae autem, saepe ipsam incidunt provident delectus veniam
                        esse.
                    </p>
                </div>
                <div class="fotoprograma0507"><img src="images/programa5_7 - copia.jpg">
                    <div class=programa>
                        <h2>Con Eduardo Walczak, violista de Sexteto Mayor</h2>
                    </div>
                </div>
                <div>
                    <a class="linkprogramacion" href="https://rbdradio.com.ar/timetable/event/ciudad-inquieta/"
                        target="_blank">
                        <img src="images/ciudadOtra_213_320.jpg" alt="fotoOtraciudad">
                        <figcaption class="linkprogracion">link a mis programas RBD-Radio</figcaption>
                    </a>
                </div>
            </div>
        </section>

        <section class="colaboradores" id="iraCOLABORADORES">

            <div class="fotogrande">
                <img src="images/503x320colaborad.jpg">
            </div>

            <div class="fotoscolaboradores">
                <div class="colaborador1"><img src="images/Nicolás Grosse_Lic. en economía - copia.jpg">
                    <figcaption>Nicolás GROSSE<h5>Lic. en Economía</h5>
                    </figcaption>
                </div>

                <div class="colaborador2"><img src="images/Carlos Loiut_Contador Público - copia.jpg">
                    <figcaption>Carlos LOUIT<h5>Contador Público Nacional</h5>
                    </figcaption>
                </div>

                <div class="colaborador3"><img src="images/Luis A. Cortés-Contador Público - copia.jpg">
                    <figcaption>Luis A. CORTES<h5>Contador Público Nacional</h5>
                    </figcaption>
                </div>
            </div>

        </section>

         <hr>
        <section class="novedades" id="iraNOVEDADES">

            <ul>
                <h2>AQUI VA A ESTAR LA BASE DE DATOS</h2>
                <ol>Lorem ipsum dolor.</ol>
                <ol>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus placeat unde.</ol>
                <ol>Lorem ipsum dolor sit amet consectetur adipisicing elit. </ol>
            </ul>

        </section>
        <hr>
        <section class="contacto" id="iraCONTACTO">

            <div class="padrecontacto">
                <div class="contactoradio">
                    <ul>

                        <ol>
                            <h2>CONTACTO CON RBD-Radio</h2>
                        </ol>
                        <ol>Redes Sociales RBD-Radio
                            <a href="https://www.instagram.com/rbdradio" target="_blank"><i
                                    class="bi bi-instagram"></i></a>
                            <a href="https://www.facebook.com/rbdradioonline" target="_blank"><i
                                    class="bi bi-facebook"></i></a>
                            <a href="https://twitter.com/rbdradioarg" target="_blank"><i class="bi bi-twitter"></i></a>
                            <a href="https://www.youtube.com/channel/UCYTIqV4EZUGU2AeLiWihpgA" target="_blank"><i
                                    class="bi bi-youtube"></i></a>

                        </ol>
                        <ol>la APP de RBD-Radio<a
                                href="https://play.google.com/store/apps/details?id=com.rbdradiomultimedia&hl=es_AR&gl=US"
                                target="_blank"><i class="bi bi-google-play"></i></a> </ol>

                    </ul>
                </div>

                <div class="contactoMarisa">

                    <h2>¿Deseas información sobre mis programas de radio?</h2>
                    <form action="/" method="post">
                        <label>Ingrese su Nombre</label>
                        <input type="text" name="nombre" minlength="5" maxlength="18" autocomplete="off" required>

                        <label>Ingrese su Email</label>
                        <input type="email" name="email" required>

                        <label>Ingrese su Teléfono</label>
                        <input type="text" name="tel" required>

                        <label> ¿Qué deseas saber?, con gusto te responderé.</label>

                        <textarea name="mensaje"></textarea>

                        <button class="acciones"><input type="submit" value="Enviar"/></button>
                        
                <!-- <a   href="mmatta4@gmail.com"><i class="bi bi-arrow-right-short"></i></a></button><<-->
                
                    </form>
                    <p>{{message}}</p>

                </div>



            </div>

        </section>




